# Retrieving Data

Retrieving data from a database in SQL is done using the `SELECT` statement. This statement allows you to specify which columns you want to retrieve and which table(s) you want to retrieve the data from. You can also apply various conditions, sorting, and filtering to the data using additional clauses.

Here's a basic example of how to retrieve data from a hypothetical "employees" table:

Suppose you have an "employees" table with the following structure:

```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    job_title VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE
);
```

To retrieve data from this table, you can use the `SELECT` statement. Here are some common scenarios:

1. Retrieving all columns for all employees:

```sql
SELECT * FROM employees;
```

This query selects all rows and columns from the "employees" table, returning information about all employees.

2. Retrieving specific columns for all employees:

```sql
SELECT first_name, last_name, job_title FROM employees;
```

This query selects only the "first_name," "last_name," and "job_title" columns for all employees.

3. Retrieving data based on a condition:

```sql
SELECT * FROM employees WHERE job_title = 'Manager';
```

This query retrieves all columns for employees with the job title "Manager."

4. Sorting the data:

```sql
SELECT * FROM employees ORDER BY hire_date DESC;
```

This query retrieves all columns for all employees and orders the result by the "hire_date" column in descending order (from newest to oldest).

5. Limiting the number of rows returned:

```sql
SELECT * FROM employees LIMIT 10;
```

This query retrieves the first 10 rows from the "employees" table.

6. Retrieving data from multiple tables (joining):

```sql
SELECT employees.first_name, departments.department_name
FROM employees
INNER JOIN departments ON employees.department_id = departments.department_id;
```

This query retrieves the "first_name" from the "employees" table and the "department_name" from the "departments" table, joining them based on the "department_id" column.

These are just a few examples of how you can retrieve data from a SQL database. SQL provides various functions and operators to manipulate and filter data, allowing you to retrieve the specific information you need.

# Thank You!